<mat-card class="card-container mat-elevation-z8" id="bookcard">
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="40" class="content-center-aligned">
      <img id="image" [src]="base64Image" height="100px" width="100px" />
    </div>
    <div fxFlex="60" class="content-center-aligned">
      <div id="title">
        <a [href]="book.url"><b>{{ book.title }}</b></a>
      </div>
      <div id="author"><b>Author:</b> {{ book.author }}</div>
      <div id="category"><b>Category:</b> {{ book.category | titlecase }}</div>
      <div id="votes"><b>Votes:</b> {{ book.votes }}</div>
    </div>
  </div>
</mat-card>
