.title-block {
  background-image: linear-gradient(to right, #FFFFFF, #00B9F2, #019CE0, #0C7ECF, #1661BE);
  height: auto;
  text-align: center;
  vertical-align: middle;
  padding: 15px;
}

.title-text {
  margin: 0px;
  font-size: xx-large;
}
